@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-900: #ffe54d;
  --secondary-color-900: #020066;
}

* {
  scroll-behavior: smooth;
}
body {
  background-color: #f7f6fa;
  min-height: 50vh;
  position: relative;
  overflow-x: hidden;

}
